
:root {
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --animation-duration: 250ms;
}

#search-box {
  font: inherit;
  line-height: 1.4em;
  padding: 8px;
  width: 300px;
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
}

#search-button {
  cursor: pointer;
  border-radius: 4px;
  outline: none;
  border: none;
  padding-top: 1px;
  padding-bottom: 1px;
  height: 34px;
  position: relative;
  z-index: 100;
  top: 2;
  left: -34;
}

#search-button:hover {
  transform: scale(1.07);
  transition: transform var(--animation-duration) var(--timing-function);
}

.search-form {
  display: flex;
  background-color: #8ec5fc;
  background-image: linear-gradient(62deg, #8ec5fc 0%, #e0c3fc 100%);
  padding-top: 10px;
  padding-bottom: 10px;
  justify-content: center;
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
